
*{
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    border: 1px soid;
}
body{
    background-color: #023047;
    color: #01161e;
    width: 100%;
}
.body_container {
    display: flex;
    flex-direction: column;
    width: 83%;
    position: absolute;
    left: 17%;
    margin-top: 20px;
    gap: 20px;
}
footer{
    height: 50px;
    background-color: #01161e;
    width: 95%;
    border-radius: 50px;
    margin-bottom: 10px;
}
nav{
    width: 15%;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 93vh;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    margin-top: 20px;
}
nav ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
    overflow: auto;
    scrollbar-width: none;
}
nav ul li {
    border: 1px solid #eff6e0;
    padding: 15px 20px;
    text-align: center;
    border-radius: 50px;
}
nav > ul > li > a{
    text-decoration: none;
    color: #eff6e0;
    
}
nav > ul > a{
    text-decoration: none;
    color: #eff6e0;
    height: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: x-large;
}
/*----------------Section------------------,*/
section{
    width: 90%;
    background-color:#eff6e0;
    border-radius: 20px;
    padding: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}
.photo_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.photo_card img{
    height: 300px;
    width: 90%;
    background-color: #01161e;
    border-radius: 20px;
    transition: 0.5s;
}
.photo_card img:hove{
    height: 255px;
    width: 400px;
    opacity: 100%;
}
.photo_card{
    text-align: center;
    height: 100%;
    width: 100% ;
    display: flex; 
    flex-direction: column ;     
    justify-content:space-around;    
    align-items: center;
    padding: 20 0 0px ;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ;
}
.photo_card div {
}
.photo_card a{
    padding: 10px 20px 10px 20px;
    background-color: #124559;
    color: #eff6e0;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
}
.photo_card a:hover {
    text-decoration: underline;
    padding: 11px 23px 11px 23px;
}
.title {
    font-weight: bold;
}
.sub_title{
    overflow: auto;
    height: 50px;
    width: 100%;
    scrollbar-width: none;
}
/*---------------Home section--------------*/
#home_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.7;
    height: 85vh;
    width: 90%;
    background-color:#eff6e0;
    border-radius: 20px;
    padding: 30px;
}
#home_section h1 {
    font-size: 120px;
    animation-name: h1anim;
    animation-duration: 2s;
}
@keyframes h1anim{
        0%{ rotate: 5deg;}
        25%{ rotate: -5deg;}
        75%{rotate: 5deg;}
        100%{rotate: -5deg;}
}
#home_section h1 span {
    font-size: 47px;
}

#home_section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#home_section div img{
    height: 25px;
    border-radius: 50px;
    transition: .5s;
    animation-name: h1anim;
    animation-duration: 2s;
}
#home_section div img:hover{
    transform: rotate(5deg);
    height: 30px;
    border: 1px solid;
}

#home_section div a ,#home_section p{
    color: black;
    text-decoration: none;
    transition: 0.5s;
    animation-name: h1anim;
    animation-duration: 2s;
}

#home_section div a:hover{
    transform: rotate(5deg);
    font-size: large;
    text-decoration: underline;
    color: #124559;
}
footer  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eff6e0;
}
footer a{
    color: #eff6e0;
}
/*--------------------Media Query-----------------------*/
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {

        body{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .body_container {
            position: relative;
            display: flex;
            flex-direction: column;
            width:100%;
            left: 5%;
        }
        nav{
            position: fixed;
            width: 100%;
        }
        
        #home_section h1 {
            font-size: 50px;
            animation-name: h1anim;
            animation-duration: 2s;
        }

        #home_section h1 span {
            font-size: 15px;
        }

        #home_section div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        

        .photo_container{
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;
            }

            .photo_card img{
                height: 200px;
                width: 300px;
                background-color: #01161e;
                border-radius: 20px;
                border: 1px solid #124559;
                opacity: 100%;
                padding: 0;
            }
            .photo_card img:hover{
                height: 200px;
                width: 300px;
                background-color: #01161e;
                border-radius: 20px;
                border: 1px solid #124559;
                opacity: 100%;
            }
            section{
                width: 90%;
                background-color:#eff6e0;
                border-radius: 20px;
                padding: 10px;
            }
            #home_section {
                padding: 10px;
            }
            .photo_card{
                text-align: center;
                height: 100%;
                width: 100%;
                padding-bottom: 20px;
            }
        } 
